.mainheadline{
    font-weight: 700;
    font-size: 3.5em;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  .textsmall{
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-align: center;
    margin-top: 1%;
  }
  .tryit{
    text-decoration: none;
    font-weight: bold;
    font-weight: 800;
    color:rgb(255, 255, 255);
  }
  .tryit:hover{
    text-decoration: none;
    font-weight: bold;
    font-weight: 800;
  }
  .placeholder{
    visibility: hidden;
    border-top: 3px solid #ffffff;
  }